.images {
   padding: 30px;
   text-align: center;
   background-color: #fff;
}
.images__wrapper-css {
   margin: 50px;
}
.images__bg-css {
   margin: 0 auto;
   width: 500px;
   height: 240px;
   text-align: center;
   font-size: 40px;
   background-image: url("./../img/Group_1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 50px;
   color: #fff;
}